@media(max-width: 1200px){
    .container {
        max-width: 960px;
    }
    
    .header__icon {
        display: block;
    }
    
    .header__menu {
        position: absolute;
        top: 85px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.347);
        width: 200px;
        height: 300px;
        z-index: 999;
        transform: translateX(-100%);
        transition: 500ms;        
    }
    .header__icon:focus~.header__menu {
        transform: translateX(0);
    }
    
    .header__link {
        color: #fff;
    }
    
    .header__dropdown-link:hover {
        color: #000;
        background: #fff;
    }
    
    .header__dropdown {
        z-index: -1;
    }

    .ecommerce__cards {
        max-width: 550px;
        flex-wrap: wrap;
        margin: 0 auto;
        row-gap: 40px;
    }
    .cards__block {
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
        row-gap: 30px;
        
    }
}
@media(max-width: 992px){
    .container {
        max-width: 720px;
    }
    .ecommerce {
        padding-bottom: 50px;
    }
    .footer__top .container {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        row-gap: 30px;
        text-align: center;
    }
    .footer__icons {
        justify-content: center;    
    }
    
}
@media(max-width: 768px){
    .container {
        max-width: 540px;
    }
    
    .header__menu {
        background: #000;
    } 
    .header__title {
        max-width: 455px;
        font-size: 48px;
    } 
    .header__content {
        height: 80vh;
    }  
    .ecommerce__cards {
        row-gap: 30px
    }
    .ecommerce__card {
        max-width: 240px;
    }
    .ecommerce {
        padding-bottom: 40px;
    }
    .cards__block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

}
    
@media(max-width: 576px){
    .container {
        max-width: 100%;
    }
    .title {
        line-height: 35px;
        font-size: 40px;
        /* padding-bottom: 40px; */
    }
    .ecommerce {
        padding-bottom: 40px;
    }
    .header__nav .container {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        
    }
    .header__menu {
        top: 174px;
        
    }
    .header__content {
        height: 65vh; 
    }
    .header__title {
        max-width: 370px;
        font-size: 48px;
    }  
    .ecommerce__cards {
        flex-direction: column;
        align-items: center;
    margin-bottom: 20px;
    } 
    .collection__desc {
        margin-bottom: 25px;
    }
    .collection .container {
        
    }
    .footer__menu {
        align-items: center;
    }
    .footer__top .container {
        flex-direction: column;
        align-items: center;

    }
    

}
@media(max-width: 500px){
    .title {
        line-height: 35px;
        font-size: 40px;
        /* padding-bottom: 40px; */
    }
    
    

}
@media(max-width: 400px){
    
    .header__title {
        max-width: 250px;
        font-size: 21px;
    }  
    .header__desc {
        font-size: 18px;
    } 

}
@media(max-width: 350px){
    .title {
        line-height: 25px;
        font-size: 27px;
        
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    
    

}